.small-title{
    color: #9B9B9B;
    font-weight: bold;
    font-size: 14px;
}
.big-title{
    color:#0C115E;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
}
.bloc-title{
    margin-top: 60px;
    margin-bottom: 60px;
}
.question{
}
.question-title{
    color:#0C115E;
    font-weight: bold;
    font-size: 30px;
    line-height: 1.1;
    text-align: left;
    margin-left: 200px;
}

.question-description{
    color:#9B9B9B;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
    text-align: left;
    margin-left: 200px;
    margin-top: 10px;
    width: 600px;
}

.form-control{
    max-width: 600px;
    margin-left: 200px;
    margin-top: 20px;
    height: 50px;
    border-radius: 25px;
}

.form-group{
    height: 250px;
}


.input-group{
    margin-left: 200px;
}

.custom-file label{
    width: 400px;
}