.bloc-top{
	background-color: red;
	height: 250px;
	width: 800px;
	margin-left: 300px;
	border-radius: 30px;
}

#top-picture{
	background-color: blue;
	padding: 40px;
	width: 400px;
	border-radius: 30px;
}

.card-title{
	  color:#0C115E;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.1;
    text-align: left;
    margin-left: 100px;
}


.card-text{
	  color:#0C115E;
    font-size: 14px;
    line-height: 1.1;
    text-align: left;
    margin-left: 100px;
}

.btn.btn-primary{
	background-color: #24E0B8;
	width: 100px;
	border-radius: 20px;
	border: 1px #24E0B8;
}

.card.w-75{
	margin-left: 200px;
	margin-top: 20px;
	border-radius: 30px;
	box-shadow: 1px 1px 10px 0px #E9E9E9;
}


.card {


}